@tailwind base;
@tailwind components;
@tailwind utilities;


.react-resizable-handle {
    filter: invert(1);
    mix-blend-mode: difference;
}

.react-grid-item.react-grid-placeholder {
    background: theme('colors.button_active')!important;
}
